<div class="card overflow-hidden group/card relative">

    <i class="fa-solid fa-heart absolute top-2 right-2 text-xl cursor-pointer transition-colors duration-300"
        [style.color]="isFavorite ? 'red' : 'gray'" (click)="toggleWishlist($event)">
    </i>

    <div [routerLink]="[ '/details' , product.slug , product._id]" class="cursor-pointer">
        <img [src]="product.imageCover" class="w-full rounded-t" [alt]="product.title">
        <h3 class="text-sm">{{product.category.name}}</h3>
        <h4 class="text-lg line-clamp-1">{{product.title}}</h4>
        <div class="flex justify-between items-center">
            <h4>{{product.price}} EGP</h4>
            <span> <i class="fas fa fa-star text-yellow-500"></i> {{product.ratingsAverage}} </span>
        </div>
    </div>

    <button (click)="addToCart()" (click)="addProductToCart(product._id)"
        class="cart-btn bg-secondColor text-white py-1 w-full border-[rgb(33,6,41)] mt-2 cursor-pointer hover:bg-[#9b069b] transition-all duration-300 translate-y-[140%] group-hover/card:translate-y-0">
        <i class="fas fa-cart-shopping pe-[30px] shopping"></i>
        <img [src]="product.imageCover" class="rounded-full my-shirt" [alt]="product.title">
        <span class="btn-text">Add to cart</span>
        <span> {{cartCount}}</span>
    </button>
</div>