<section>
    <owl-carousel-o [options]="mainOptions">
        <ng-template carouselSlide>
            <img src="/images/img5.avif" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/images/img6.avif" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/images/img4.avif" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/images/img7.avif" alt="">
        </ng-template>
    </owl-carousel-o>
</section>