<section class="p-[40px] bg-[#f6e6f8] border border-gray-200 rounded-lg md:w-1/2 m-auto my-[20px]">
    <h1
        class="pb-[30px] text-[30px] leadinng-[18px] text-center text-secondColor [text-shadow:_2px_2px_3px_rgba(86,8,94,0.5)]">
        Register now :</h1>


    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

        <app-input [control]="registerForm.get('name')" [typeInput]="'text'" [idInput]="'name'"
            [labelInput]="'Name'"></app-input>

        <app-input [control]="registerForm.get('email')" [typeInput]="'email'" [idInput]="'email'"
            [labelInput]="'Email'">
        </app-input>

        <app-input [control]="registerForm.get('password')" [idInput]="'password'" [labelInput]="'Password'">
            custom field should match the pattern
        </app-input>


        <app-input [control]="registerForm.get('rePassword')" [idInput]="'rePassword'" [labelInput]="'RePassword'">
        </app-input>


        <app-input [control]="registerForm.get('phone')" [typeInput]="'tel'" [idInput]="'phone'" [labelInput]="'Phone'">
            Accept only egypt phone numbers
        </app-input>



        <div class="flex justify-end">
            <button [disabled]="isLoading" class="btn py-[7px] px-[40px] rounded " type="submit">
                Register

                @if (isLoading) {
                <span> <i class="fas fa-spinner animate-spin"></i> </span>
                }

            </button>
        </div>

        @if (msgError) {
        <p class="text-red-700 text-center p-[10px] mt-4 bg-red-300">{{ msgError }}</p>
        }

    </form>


</section>